<ul class="list-group">
  <li routerLink="home" routerLinkActive="active" class="list-group-item list-group-item-action">
    <a>Home</a>
  </li>
  <li routerLink="countries/porcapital" routerLinkActive="active" class="list-group-item list-group-item-action">
    <a>Por Capital</a>
  </li>
  <li routerLink="countries/porpais" routerLinkActive="active" class="list-group-item list-group-item-action">
    <a>Por Pais</a>
  </li>
  <li routerLink="countries/porregion" routerLinkActive="active" class="list-group-item list-group-item-action">
    <a>Por Region</a>
  </li>
</ul>
